.navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
}

.navbar__container a {
    text-decoration: none;
    color: #fff;
}

.navbar a {
    display: flex;
}

.navbar__links {
    justify-self: end;
    display: none;
}

.navbar__links li {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.navbar__links a {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.navbar__links a.active {
    color: var(--color-primary);
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.navbar__menu-btn {
    cursor: pointer;
    color: #fff;
    width: fit-content;
    background: unset;
    border: unset;
    justify-self: end;
    font-size: 1.5rem;
    align-self: center;
    z-index: 2;
}

.navbar__links.active {
    display: grid;
    background-color: #000c;
    margin: 0;
    position: absolute;
    place-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}